/*
 * Base structure
 */

html,
body {
  height: 200%;
  background-color: #F8F8FF;
}
 
 .logo {
	width:200px;
	height:auto;
	display: inline-block;
	font-family: futura, bold;
	font-size: 20px;
	text-align: center;
	vertical-align:middle;
}

h1#logosentence {
	display: inline-flex;
	font-size: 50px;
	font-family: 'Proxima Nova', 'Medium', sans-serif;
	color: #11aaed;
	font-weight: light;
}

.navigation_bar_table{
	font-family: Courier;
	font-size: 40px;
}


h2#welcome {
	text-align:center;
	font-size:35px;
	font-family: Courier;
	color: black;
}


img {
	width: 100%;
	}

.landing_page_image {
	padding: 4px;
	border: 1px solid rgba(0, 0, 0, 0.2); /* transparent black border */
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	}

/* You need this for all browsers to understand your CSS */
.landing_page_image {
	width: 70%;
	padding: 4px;
	background-color: #fff;
	border: 1px solid #ccc;*/   grey border for browsers that can't do transparency 
	border: 1px solid rgba(0, 0, 0, 0.2);  /*put the transparency after for browsers that do */
	margin-left: 15%;
	margin-right: 15%;
	}

p#landing_page_description {
	padding: 10px;
	margin-left: 10%;
	margin-right: 10%;
	font-size: 40px;
	text-align:justify;
	font-family: Courier;
	}

@media all and (max-width: 600px) {
  
  h1#logosentence {
  	font-size: 16px;
}

  h2#welcome {
  	font-size: 16px;
  }

  p#landingpagedescription {
  	font-size: 16px;
  }

}