

html,
body {
  height: 100%;
  background-color: #F2F3F4;
}

h1#logosentence {
	display: inline-flex;
	font-size: 50px;
	font-family: 'Proxima Nova', 'Medium', sans-serif;
	color: #11aaed;
	font-weight: light;
}


.navigation_bar_table{
	font-family: Courier;
}

.aboutustitle {
	text-align:center;
	font-size:25px;
	font-family: Courier;
	color: black;
}

.aboutustabledescription {
	font-family: Courier;
}

h2#aboutus {
	text-align: center;
	font-family: Courier;
}

p#andreadescription {
	font-family: Courier;
	text-align: justify;
	margin-left:10%; 
	margin-right:10%;
}

p#vickydescription {
	font-family: Courier;
	text-align: justify;
	margin-left:10%; 
	margin-right:10%;
}

@media all and (max-width: 600px) {
  
  h1#logosentence {
  	font-size: 16px;}

  }