

table {
	font-size:20;
}


h1#Welcome {
	text-align:center;
	font-size:25px;
	font-stretch: 
	font-family:'Arial Header';
	color:blue;

}

img#Landing_page_image {
	margin-left:25px;
	
	width: 95%;
	height: auto;
}

p#Landing_page_description {
	font-size: 20px;
	text-align:justify;

}
