

html,
body {
  height: 100%;
  background-color: #F2F3F4;
}


.Navigation_bar_table{
	font-family: Courier;
}

.aboutustitle {
	text-align:center;
	font-size:25px;
	font-family: Courier;
	color: black;
}

.aboutustabledescription{
	font-family: Courier;
}

h2#aboutus {
	text-align: center;
	font-family: Courier;
}

p#andrea{
	font-family: Courier;
	text-align: justify;
	margin-left:10%; 
	margin-right:10%;
}

p#vicky{
	font-family: Courier;
	text-align: justify;
	margin-left:10%; 
	margin-right:10%;
}
