


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #F8F8FF;
}
 
 .logo {
	width:200px;
	height:auto;
	display: block;
	margin: 0 auto;
}

.Navigation_bar_table{
	font-family: Courier;
	font-size: 25px;
}


h1#Welcome {
	text-align:center;
	font-size:20px;
	font-family: Courier;
	color: black;
}


img {
	width: 100%;
	}

.Landing_page_image {
	padding: 4px;
	border: 1px solid rgba(0, 0, 0, 0.2); /* transparent black border */
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	}

/* You need this for all browsers to understand your CSS */
.Landing_page_image {
	width: 70%;
	padding: 4px;
	background-color: #fff;
	border: 1px solid #ccc;*/   grey border for browsers that can't do transparency 
	border: 1px solid rgba(0, 0, 0, 0.2);  /*put the transparency after for browsers that do */
	margin-left: 15%;
	margin-right: 15%;
	}

p#Landing_page_description {
	padding: 10px;
	margin-left: 10%;
	margin-right: 10%;
	font-size: 20px;
	text-align:justify;
	font-family: Courier;
	}
